/*	Circle Slider	*/

div.main_content_slider_wrapper {
	overflow: hidden;
	margin: 0 auto;
	max-width: 1000px;
}
.content_slider_wrapper {
	font-size:13px;
	line-height:20px;
	text-align:left;
	color:#484848;
	margin:0;
	padding:0;
	border:none;
	clear: both;
	display: block;
	position: relative;
}
.circle_slider_thumb {
	overflow:hidden;
	border:#282828 solid 5px;
	border-radius:84px;
	position:absolute;
	top:97px;
	width:84px;
	height:84px;
	float:left;
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
	margin:0;
	padding:0;
	cursor: pointer;
}
.circle_slider_thumb img {
	max-width: 100% !important;
	width:84px;
	margin:0 !important;
	padding:0 !important;
	border:none;
	border-radius:84px;
}
.circle_slider_big img {
	width:231px;
	margin:0;
	padding:0;
	border:none;
}
.content_slider_wrapper .circle_slider_nav_left {
	position:absolute;
	top:334px;
	left:95px;
	height:57px;
	width:28px;
	display:block;
	margin:0;
	padding:0;
	border:none;
	overflow: hidden;
	cursor: pointer;
}
.content_slider_wrapper .circle_slider_nav_left img {
	padding:19px 30px 19px 3px;
	border-radius:50px 0px 0px 50px;
	left: 0px;
	position: absolute;
	display: inline-block;
	background:black;
	box-shadow: none !important;
}
.content_slider_wrapper .circle_slider_nav_right {
	position:absolute;
	top:597px;
	left:95px;
	height:57px;
	width:28px;
	display:block;
	margin:0;
	padding:0;
	border:none;
	overflow: hidden;
	cursor: pointer;
}
.content_slider_wrapper .circle_slider_nav_right img {
	padding:19px 3px 19px 30px;
	margin-left:-26px;
	border-radius:0px 50px 50px 0px;
	left: 0px;
	position: absolute;
	display: inline-block;
	background:black;
	box-shadow: none !important;
}
.content_slider_wrapper .circle_slider_nav_left.circle_slider_no_border img {
	padding:0;
	margin-left:4px;
	border-radius:0;
	background:transparent !important;
	box-shadow: none !important;
}
.content_slider_wrapper .circle_slider_nav_right.circle_slider_no_border img {
	padding:0;
	margin-left:0;
	left: 4px;
	border-radius:0;
	background:transparent !important;
	box-shadow: none !important;
}
.content_slider_wrapper_vertical .circle_slider_nav_left {
	position:absolute;
	top:335px;
	left:92px;
	width:57px;
	height:28px;
	display:block;
	margin:0;
	padding:0;
	border:none;
	overflow: hidden;
	cursor: pointer;
}
.content_slider_wrapper_vertical .circle_slider_no_border2_left {
	height: 24px;
}
.content_slider_wrapper_vertical .circle_slider_nav_left img {
	left: 0px;
	position: absolute;
	display: inline-block;
	box-shadow: none !important;
}
/* --------------------- */


.content_slider_text_block_wrap {
	width:100%;
	text-align:center;
	line-height:20px;
	font-size: 13px;
	color:#444444;
	margin:0;
}
.content_slider_text_block_wrap .bold {
	font-weight:600;
}
.content_slider_text_block_wrap a.large_link {
	font-size:18px;
}
.content_slider_text_block_wrap a {
	color:#1ab99b;
	line-height:18px;
	font-size: 16px;
	text-decoration: none;
}
.content_slider_text_block_wrap h3 {
	font-size: 20px !important;
	font-family: 'montserratregular', sans-serif;
	line-height: 30px !important;
	margin: 0 !important;
	padding: 0 !important;
	display: inline-block !important;
	font-weight: normal;
}
