/*-------------------------------------------------------
Fonts Classes
---------------------------------------------------------*/
@font-face {
 font-family: 'open_sanssemibold';
 src: url('../fonts/opensans-semibold-webfont.eot');
 src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/opensans-semibold-webfont.woff') format('woff'),  url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),  url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'open_sanslight';
 src: url('../fonts/opensans-light-webfont.eot');
 src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/opensans-light-webfont.woff') format('woff'),  url('../fonts/opensans-light-webfont.ttf') format('truetype'),  url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'open_sansregular';
 src: url('../fonts/opensans-regular-webfont.eot');
 src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/opensans-regular-webfont.woff') format('woff'),  url('../fonts/opensans-regular-webfont.ttf') format('truetype'),  url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'montserratbold';
 src: url('../fonts/montserrat-bold.eot');
 src: url('../fonts/montserrat-bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/montserrat-bold.woff2') format('woff2'),  url('montserrat-bold.woff') format('woff'),  url('../fonts/montserrat-bold.ttf') format('truetype'),  url('../fonts/montserrat-bold.svg#montserratbold') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'montserratregular';
 src: url('../fonts/montserrat-regular.eot');
 src: url('../fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/montserrat-regular.woff2') format('woff2'),  url('../fonts/montserrat-regular.woff') format('woff'),  url('../fonts/montserrat-regular.ttf') format('truetype'),  url('../fonts/montserrat-regular.svg#montserratregular') format('svg');
 font-weight: normal;
 font-style: normal;
}


/*-------------------------------------------------------
Global Classes
---------------------------------------------------------*/
body { font-family: 'open_sansregular'!important; font-size: 14px; color: #777777; }
ul, ol { margin-top: 0; margin-bottom: 0px; }
form { margin-bottom:10px; }
ul ul, ol ul, ul ol, ol ol { margin-bottom: 0; padding-left: 0; }
img { }
hr { margin-top: 20px; margin-bottom: 20px; border: 0; border-top: 1px solid #eeeeee;}
a{color:#444444;}
/*-------------------------------------------------------
Typography Classes
---------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 { color:#444444; font-family: 'montserratregular', sans-serif;}
h1, h2, h3 { margin-top: 0px; margin-bottom: 10px; padding: 0 !important; }
h4, h5, h6 { margin-top: 10px; margin-bottom: 10px; }
h1 { font-size: 22px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }
p { margin: 0 0 20px; line-height: 20px;}
p:last-child { margin-bottom: 0; }

/*-------------------------------------------------------
Site Titles and Deviders
---------------------------------------------------------*/
.title{overflow: hidden; margin-bottom: 30px; /*display: table;*/ text-align: center;}

.title h1, .title h2, .title h3, .title h4, .title h5, .title h6  {display: table-cell; white-space: pre;margin: 0; padding-right: 10px;}
.title .title-lines{display: table-cell;vertical-align: middle;width: 100%;position: relative;height: 6px;}
 .double-line {
display: block;
border-top: 1px solid #e7e6e6;
border-bottom: 1px solid #e7e6e6;
width: 100%;
position: relative;
height: 6px;
}
.double-dashed-line {
display: block;
border-top: 1px dashed #e7e6e6;
border-bottom: 1px dashed #e7e6e6;
width: 100%;
position: relative;
height: 6px;
}
 .single-line {
display: block;
border-top: 1px solid #e7e6e6;
width: 100%;
position: relative;
height: 1px;
}
 .single-dashed-line {
display: block;
border-top: 1px dashed #e7e6e6;
width: 100%;
position: relative;
height: 1px;
}

.title-center-single{ text-align: center; background: url(../img/dot.png) repeat-x 0 50%; margin-bottom: 30px;}
.title-center-single h1,
.title-center-single h2,
.title-center-single h3,
.title-center-single h4,
.title-center-single h5,
.title-center-single h6
{display: inline-block; background: white; margin: 0; padding: 0 10px !important;}

.title-center-double{ text-align: center; background: url(../img/dot-double.png) repeat-x 0 50%; margin-bottom: 30px;}
.title-center-double h1,
.title-center-double h2,
.title-center-double h3,
.title-center-double h4,
.title-center-double h5,
.title-center-double h6
{display: inline-block; background: white; margin: 0; padding: 0 10px !important;}

.main-title{
	border:1px solid #e7e6e6;
	padding: 30px;
	overflow: hidden;
}
.main-title-desc{ overflow: hidden; }

.dropcap{font-size: 44px;margin-right: 10px;text-transform: uppercase;float: left;line-height: 1;}
blockquote {
padding: 5px 15px;
border-left-width: 4px;
font-size: 13px;
}
.icon-heading{}
.icon-heading i{font-size: 70%; display: inline-block; width: 30px; height: 30px; line-height: 22px; text-align: center; padding: 4px;}
/*-------------------------------------------------------
Deviders
---------------------------------------------------------*/
.devider-single{height: 1px; border-top: 1px solid #e7e6e6;  }
.devider-dashed-single{height: 1px; border-top: 1px dashed #e7e6e6;  }
.devider-double{height: 6px; border-top: 1px solid #e7e6e6; border-bottom: 1px solid #e7e6e6;  }
.devider-dashed-double{height: 6px; border-top: 1px dashed #e7e6e6; border-bottom: 1px dashed #e7e6e6;  }
/*-------------------------------------------------------
Icons
---------------------------------------------------------*/
.icon-bg{ background: #444444; color: #ffffff; border-color: transparent !important;}
.icon-large{height: 80px;width: 80px;text-align: center;line-height: 80px; font-size: 30px; display: inline-block;}
.icon-large img{width: 100%;}
.icon-large i{display: inline-block !important;}
.icon-medium{height: 60px;width: 60px;text-align: center;line-height: 60px; font-size: 20px; display: inline-block;}
.icon-medium i{display: inline-block !important; }
.icon-small{height: 40px;width: 40px;text-align: center;line-height: 40px; display: inline-block;}
.icon-small i{display: inline-block !important;}
.icon-x-small{height: 20px;	width: 20px;text-align: center; display: inline-block;}
.icon-x-small i{display: inline-block !important; }
/*-------------------------------------------------------
Panels
---------------------------------------------------------*/
.panel .panel-heading h1,
.panel .panel-heading h2,
.panel .panel-heading h3,
.panel .panel-heading h4,
.panel .panel-heading h5,
.panel .panel-heading h6
{margin: 0;}
/*-------------------------------------------------------
Content Containers
---------------------------------------------------------*/
.desc{overflow: hidden;}
.body-content{}
/*-------------------------------------------------------
ListMenus
---------------------------------------------------------*/

.list-arrows{}
.list-arrows i{margin-right: 10px; margin-left: -20px !important;}
.list-arrows ul { list-style:none; padding: 0; }
.list-arrows li { padding: 5px 0;padding-left: 20px; }

.list-links{}
.list-links i{margin-right: 10px; margin-left: -20px !important;}
.list-links ul { list-style:none; padding: 0; }
.list-links li { padding: 5px 0;padding-left: 20px; }
.list-links li a{ font-family: 'open_sansregular'; text-decoration: none;}

.list-bg{}
.list-bg i{margin-left: 0 !important;}
.list-bg ul { list-style:none; padding: 0; }
.list-bg li { padding: 10px 0; border-bottom: 1px solid #e7e6e6;}
.list-bg li:hover { background: #eee;}
.list-bg li:nth-last-child(1){border-bottom: 0;}

/*-------------------------------------------------------
Tabs
---------------------------------------------------------*/
.tab-v1{}
.tab-v1 .tab-content .tab-pane{ border-radius: 1px 1px 4px 4px;border:1px solid #ddd;padding: 20px; border-top:0;}

.tab-v2{}
.tab-v2 .tab-content .tab-pane{ border-radius:0;border:1px solid #ddd;padding: 20px; border-top:0;}
.tab-v2 .nav-tabs > li > a { border-top: 1px solid #ddd; margin-right: 1px;border-radius: 1px 1px 0 0; background: #F3F3F3;}
.tab-v2 .nav-tabs > li.active a {background: #fff !important; border-top: 1px solid #444444;}
.tab-v2 .nav-tabs > li > a:hover {border-top: 1px solid #444; border-bottom: 1px solid transparent;}
.tab-v2 .nav-tabs > li.active > a:focus{border-top: 3px solid #444  !important;}
/*-------------------------------------------------------
Accordion
---------------------------------------------------------*/
.accordion-v1 .panel-group{ margin-bottom: 0;}
.accordion-v1 .panel-title > a {text-decoration: none; padding-left: 10px; display: block; height: 40px; line-height: 40px;}
.accordion-v1 .panel-heading { padding: 0; line-height: 40px;}
.accordion-v1 .panel-heading i{ float:right; display: inline-block; text-align: center; border-left: 1px solid #ddd;
	height: 40px; width: 40px; line-height: 40px; background: #fff;}

.accordion-v2 .panel-group{ margin-bottom: 0;}{}
.accordion-v2 .panel{ border-radius: 0 !important;}
.accordion-v2 .panel-title > a {text-decoration: none; padding-left: 10px; display: block; height: 40px; line-height: 40px;}
.accordion-v2 .panel-heading { padding: 0; line-height: 40px;}
.accordion-v2 .panel-heading i{ float:right; display: inline-block; text-align: center; border-left: 1px solid #ddd;
	height: 40px; width: 40px; line-height: 40px; background: #fff;}
/*-------------------------------------------------------
Form Classes
---------------------------------------------------------*/	

.hori-form{}
.hori-form .form-horizontal .form-group {
margin-right: 0px !important;
margin-left: 0px !important;
}
form{margin-bottom: 0;}
/*-------------------------------------------------------
Thumbnail Classes
---------------------------------------------------------*/	
.thumbnail {margin-bottom: 0;}
.thumbnail .caption {padding: 20px;color: #333;}
.custom-thumbnail{ padding: 10px;}
.custom-thumbnail img{ width: 100% !important;}
.custom-caption{ border-top: 1px solid #eee; padding-top: 10px; overflow: hidden;}
.custom-caption h1, 
.custom-caption h2,
.custom-caption h3,
.custom-caption h4,
.custom-caption h5, 
.custom-caption h6{margin:0;}

/*-------------------------------------------------------
Headers
---------------------------------------------------------*/
.header-v1{ height: 130px;}
/*-------------------------------------------------------
Site Name Classes
---------------------------------------------------------*/
.site-name{
	font-size: 28px;
	margin-top:10px; 
	margin-bottom:;
	margin-left: ;
	margin-right: ;
	font-family: 'open_sanssemibold';
	color: #444;
}

 @media (max-width: 992px) {
.site-name{ text-align: center; margin: 30px 0;}
 }
/*-------------------------------------------------------
Menu-v1 Classes
---------------------------------------------------------*/
.menu-v1{height: 130px; padding-top:30px;}
.menu-v1 .collapse {display: block;}
.menu-v1 select {display: block;width: 100%;border-radius: 4px;height: 30px;margin: 10px 0;}
/* Nav-Bar */
.menu-v1 .nav li a {font-size: 14px; background:none; position: relative;display: block;padding: 0px 10px;line-height: 87px;}
.menu-v1 .nav li{margin: 0 4px; text-transform:uppercase;}
/* Nav-Bar Hover */
.menu-v1 .nav li:hover {text-decoration: none;border-bottom:3px solid #444; }
.menu-v1 .nav .active {text-decoration: none;border-bottom:3px solid #444; }
/* Dropdown */

.menu-v1 .navbar-nav > li > .dropdown-menu > li {height: 30px; border-bottom: 1px solid #eee;}
.menu-v1 .navbar-nav > li > .dropdown-menu > li:nth-last-child(1) {
height: 30px; border-bottom: 1px solid transparent;}
.menu-v1 .navbar-nav > li > .dropdown-menu > li:hover {border-bottom: 1px solid transparent;background: #eee;}
.menu-v1 .navbar-nav > li > .dropdown-menu > li a {line-height: 30px; font-size: 13px;}
.menu-v1 .dropdown-menu {border-top: 3px solid #444; top: 100%;left: -1px; padding: 0px 0; border-radius: 3px !important; box-shadow: none; }
.menu-v1 .dropdown-menu li {margin: 0;}
.menu-v1 .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {background-color: #fff;}

.menu-v1 .navbar-collapse{padding-left: 0;}
 @media (max-width: 992px) {
.menu-v1{height:auto; margin-top:70px;}
.menu-v1 .navbar-collapse{padding-left: 15px;}
.our-services .box{ margin-bottom:50px;}
.carousel-row{ width:95%!important; background:#000;}
.footer{ text-align:center;}
.footer img{ margin:0 auto;}
.footer .title{ text-align:center!important; padding-top:20px; display:block;}
.footer .title h1{ text-align:center; display:block;} 
.footer .address{ text-align:left;}
.footer .quicklinks{ text-align:left;}
.main_content_slider_wrapper{ width:100%!important;}
 }
 
 .menu-v1 .dropdown-menu:before, dropdown-menu:after{ display:none!important; border-bottom:none!important;}

/*-------------------------------------------------------
Menu-v2 Classes
---------------------------------------------------------*/
.menu-v2{height: 50px; border-top: 1px solid #eee; border-bottom: 1px solid #eee; }
.menu-v2 .collapse {display: block;}
.menu-v2 select {display: block;width: 100%;border-radius: 4px;height: 30px;margin: 8px 0;}
/* Nav-Bar */
.menu-v2 .nav li a {font-size: 14px; position: relative;display: block;padding: 0px 20px;line-height: 48px;}
.menu-v2 .nav li{margin: 0px; border-right: 1px solid #eee;}
.menu-v2 .nav li:nth-last-child(1){margin: 0px; border-right: 0px solid #eee;}
/* Nav-Bar Hover */
.menu-v2 .nav li:hover{border-right: 1px !important transparent;}
.menu-v2 .nav li:hover {text-decoration: none;}
.menu-v2 .nav li a:hover {background: #444; color: #fff;}
.menu-v2 .nav .active {text-decoration: none; background: #444;}
.menu-v2 .nav .active a{color:#fff;}
.menu-v2 .nav li.active{border-right: 1px transparent !important;}
/* Dropdown */
.menu-v2 .navbar-nav > li > .dropdown-menu > li {height: 30px; border-bottom: 1px solid #eee;}
.menu-v2 .navbar-nav > li > .dropdown-menu > li:nth-last-child(1) {
height: 30px; border-bottom: 1px solid transparent;}
.menu-v2 .navbar-nav > li > .dropdown-menu > li:hover {border-bottom: 1px solid transparent;background: #eee;}
.menu-v2 .navbar-nav > li > .dropdown-menu > li a {line-height: 30px; font-size: 13px;}
.menu-v2 .dropdown-menu {border-bottom: 1px solid #444; top: 100%; padding:0px 0; border-radius: 0px !important; box-shadow: none; }
.menu-v2 .navbar-collapse{padding-left: 0;}

 @media (max-width: 992px) {
.menu-v1{height:auto;}
.menu-v2 .navbar-collapse{padding-left: 15px;}
 }


/*-------------------------------------------------------
Spacing Classes
---------------------------------------------------------*/
.zone { }
.capsule { }
/*Overall Padding*/
.pad-0 { padding: 0px !important; }
.pad-10 { padding:10px !important; }
.pad-15 { padding:15px !important; }
.pad-20 { padding:20px !important; }
.pad-30 { padding:30px !important; }
.pad-40 { padding:40px !important; }
.pad-50 { padding:50px !important; }
.pad-60 { padding:60px !important; }
/*Padding Top & Bottom */
.pad-t-b-0 { padding-top: 0 !important; padding-bottom: 0 !important; }
.pad-t-b-10 { padding-top:10px !important; padding-bottom:10px !important; }
.pad-t-b-15 { padding-top:15px !important; padding-bottom:15px !important; }
.pad-t-b-20 { padding-top:20px !important; padding-bottom:20px !important; }
.pad-t-b-30 { padding-top:30px !important; padding-bottom:30px !important; }
.pad-t-b-40 { padding-top:40px !important; padding-bottom:40px !important; }
.pad-t-b-50 { padding-top:50px !important; padding-bottom:50px !important; }
.pad-t-b-60 { padding-top:60px !important; padding-bottom:60px !important; }
/*Padding Left & Right*/
.pad-l-r-0 { padding-right:0px !important; padding-left:0px !important; }
.pad-l-r-10 { padding-right:10px !important; padding-left:10px !important; }
.pad-l-r-15 { padding-right:15px !important; padding-left:15px !important; }
.pad-l-r-20 { padding-right:20px !important; padding-left:20px !important; }
.pad-l-r-30 { padding-right:30px !important; padding-left:30px !important; }
.pad-l-r-40 { padding-right:40px !important; padding-left:40px !important; }
.pad-l-r-50 { padding-right:50px !important; padding-left:50px !important; }
.pad-l-r-60 { padding-right:60px !important; padding-left:60px !important; }
/*Padding Top*/
.pad-t-0 { padding-top:0px !important; }
.pad-t-10 { padding-top:10px !important; }
.pad-t-15 { padding-top:15px !important; }
.pad-t-20 { padding-top:20px !important; }
.pad-t-30 { padding-top:30px !important; }
.pad-t-40 { padding-top:40px !important; }
.pad-t-50 { padding-top:50px !important; }
.pad-t-60 { padding-top:60px !important; }
/*Padding Bottom*/
.pad-b-0 { padding-bottom:0px !important; }
.pad-b-10 { padding-bottom:10px !important; }
.pad-b-15 { padding-bottom:15px !important; }
.pad-b-20 { padding-bottom:20px !important; }
.pad-b-30 { padding-bottom:30px !important; }
.pad-b-40 { padding-bottom:40px !important; }
.pad-b-50 { padding-bottom:50px !important; }
.pad-b-60 { padding-bottom:60px !important; }
/*Padding Left*/
.pad-l-0 { padding-left:0 !important; }
.pad-l-10 { padding-left:10px !important; }
.pad-l-15 { padding-left:15px !important; }
.pad-l-20 { padding-left:20px !important; }
.pad-l-30 { padding-left:30px !important; }
.pad-l-40 { padding-left:40px !important; }
.pad-l-50 { padding-left:50px !important; }
.pad-l-60 { padding-left:60px !important; }
/*Padding Right*/
.pad-r-0 { padding-right:0px !important; }
.pad-r-10 { padding-right:10px !important; }
.pad-r-15 { padding-right:15px !important; }
.pad-r-20 { padding-right:20px !important; }
.pad-r-30 { padding-right:30px !important; }
.pad-r-40 { padding-right:40px !important; }
.pad-r-50 { padding-right:50px !important; }
.pad-r-60 { padding-right:60px !important; }
/*Overall Margin*/
.mar-0 { margin:0px !important; }
.mar-10 { margin:10px !important; }
.mar-15 { margin:15px !important; }
.mar-20 { margin:20px !important; }
.mar-30 { margin:30px !important; }
.mar-40 { margin:40px !important; }
.mar-50 { margin:50px !important; }
.mar-60 { margin:60px !important; }
/*Margin Top & Bottom*/
.mar-t-b-0 { margin-top:0px !important; margin-bottom:0px !important; }
.mar-t-b-10 { margin-top:10px !important; margin-bottom:10px !important; }
.mar-t-b-15 { margin-top:15px !important; margin-bottom:15px !important; }
.mar-t-b-20 { margin-top:20px !important; margin-bottom:20px !important; }
.mar-t-b-30 { margin-top:30px !important; margin-bottom:30px !important; }
.mar-t-b-40 { margin-top:40px !important; margin-bottom:40px !important; }
.mar-t-b-50 { margin-top:50px !important; margin-bottom:50px !important; }
.mar-t-b-60 { margin-top:60px !important; margin-bottom:60px !important; }
.mar-l-r-0 { margin-left:0 !important; margin-right:0 !important; }
.mar-l-r-10 { margin-left:10px !important; margin-right:10px !important; }
.mar-l-r-15 { margin-left:15px !important; margin-right:15px !important; }
.mar-l-r-20 { margin-left:20px !important; margin-right:20px !important; }
.mar-l-r-30 { margin-left:30px !important; margin-right:30px !important; }
.mar-l-r-40 { margin-left:40px !important; margin-right:40px !important; }
.mar-l-r-50 { margin-left:50px !important; margin-right:50px !important; }
.mar-l-r-60 { margin-left:60px !important; margin-right:60px !important; }
/*Margin Top */
.mar-t-0 { margin-top:0 !important; }
.mar-t-10 { margin-top:10px !important; }
.mar-t-15 { margin-top:15px !important; }
.mar-t-20 { margin-top:20px !important; }
.mar-t-30 { margin-top:30px !important; }
.mar-t-40 { margin-top:40px !important; }
.mar-t-50 { margin-top:50px !important; }
.mar-t-60 { margin-top:60px !important; }
.mar-t-90 { margin-top:90px !important; }
/*Margin Bottom */
.mar-b-0 { margin-bottom:0 !important; }
.mar-b-10 { margin-bottom:10px !important; }
.mar-b-15 { margin-bottom:15px !important; }
.mar-b-20 { margin-bottom:20px !important; }
.mar-b-30 { margin-bottom:30px !important; }
.mar-b-40 { margin-bottom:40px !important; }
.mar-b-50 { margin-bottom:50px !important; }
.mar-b-60 { margin-bottom:60px !important; }
/*Margin Left */
.mar-l-0 { margin-left:0 !important; }
.mar-l-10 { margin-left:10px !important; }
.mar-l-15 { margin-left:15px !important; }
.mar-l-20 { margin-left:20px !important; }
.mar-l-30 { margin-left:30px !important; }
.mar-l-40 { margin-left:40px !important; }
.mar-l-50 { margin-left:50px !important; }
.mar-l-60 { margin-left:60px !important; }
/*Margin Right */
.mar-r-0 { margin-right:0 !important; }
.mar-r-10 { margin-right:10px !important; }
.mar-r-15 { margin-right:15px !important; }
.mar-r-20 { margin-right:20px !important; }
.mar-r-30 { margin-right:30px !important; }
.mar-r-40 { margin-right:40px !important; }
.mar-r-50 { margin-right:50px !important; }
.mar-r-60 { margin-right:60px !important; }
/*Margin Left & Right */
.mar-l-r-0 { margin:0 0 !important; }
.mar-l-r-10 { margin:0 10px !important; }
.mar-l-r-15 { margin:0 15px !important; }
.mar-l-r-20 { margin:0 20px !important; }
.mar-l-r-30 { margin:0 30px !important; }
.mar-l-r-40 { margin:0 40px !important; }
.mar-l-r-50 { margin:0 50px !important; }
.mar-l-r-60 { margin:0 60px !important; }
/* Borders */
.border-none{border:none !important;}
.border-top{border-top: 4px solid;}
.border-bottom{border-bottom: 4px solid;}
.border-left{border-left: 4px solid;}
.border-right{border-right: 4px solid;}

.square{border-radius: 0; border:1px solid #e7e6e6;}
.round{border-radius: 4px; border:1px solid #e7e6e6;}
.round-full{border-radius: 50%; border:1px solid #e7e6e6;}

.no-lineheight{line-height: normal !important;border:transparent;}

/*-------------------------------------------------------
Theme Classes
---------------------------------------------------------*/
/*Typography*/
h1, h2, h3, h4, h5, h6 { color:; }


/* Menu classes */

.menu-v1 .nav li a {}
.menu-v1 .nav li a:hover{color:#ec1c24;}
.menu-v1 .nav li:hover {border-bottom:3px solid #ec1c24;}
.menu-v1 .nav .active{border-bottom:3px solid #ec1c24;}
.menu-v1 .nav .active a{color:#ec1c24; }
.menu-v1 .dropdown-menu {border-top: 3px solid #ec1c24;}
.menu-v1 .dropdown-menu > li > a:hover{ background: #ec1c24; color:#fff;}

.menu-v2 .nav li a:hover {background: #1bb6f7; color: #fff;}
.menu-v2 .nav .active {background: #ec1c24;}
.menu-v2 .nav .active a{color:#fff;}
.menu-v2 .dropdown-menu {border-bottom: 1px solid #ec1c24;}
.menu-v2 .navbar{border: 0px solid transparent;}

.Rborder{ border-right:#f7f7f7 solid 1px;}

/* Section */



#navigation{}
#banner{ height:auto; margin:10px auto 0px auto;}
#banner img{ width:100%; height:auto;}

#about-row{}
#about-row .about-box{text-align:center!important;}
#about-row .about-box h2{ text-align:center; text-transform:uppercase; color:#161f29; font-weight:300;}
#about-row .about-box .content a{ text-decoration:none;}
#about-row .about-box .fa{ font-size:80px; padding-bottom:20px; color:#dbdbdb; }

.templatemo-top-bar {
    min-height: 40px;
    background-color:#f7f8fa;
	border-bottom:#efefef solid 1px;
	
}

.subheader {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: #444444;
}

.subheader .socicons ul{ list-style:none; text-align:center;}
.subheader .socicons ul li{ border-right:#f1f1f2 solid 1px; float:left; width:40px;}
.subheader .socicons ul li a{ color:#a09f9f; text-align:center; line-height:40px;}
.subheader .socicons ul li a:hover{ color:#000;}

.email { list-style:none; text-align:center;}
.email li{ border-right:#f1f1f2 solid 1px; float:left; padding:0px 10px 0px 10px; line-height:40px; color:#a09f9f;}
.email li a{ color:#a09f9f; text-align:center;}
.email li a:hover{ color:#000; text-decoration:none;}
.email li .fa{ padding:0px 5px 0px 0px;}
.email li.bor-none{ border-right:none!important;}

/*-------------------------------------------------------
parallax  Classes
---------------------------------------------------------*/
section.module:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  /*height: 620px;*/
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom:50px;
  padding-top:50px;
}
section.module.parallax-1 {
  background-image: url("../img/banner2.jpg");
}

@media all and (min-width: 600px) {
}
@media all and (min-width: 960px) {
}

/*-------------------------------------------------------
Services  Classes
---------------------------------------------------------*/
.services{ padding-top:10px; padding-bottom:30px;}
.services .title{ text-align:center!important; display:block;}
.services .title h1{ font-size:35px; color:#fff; font-family: 'montserratregular', sans-serif; text-transform:uppercase; display:block;}
.services .title h1 span{ color:#ec1c24;}
.services .content p{ color:#fff; text-align:center;}

.services .content button { display:block; margin:30px auto 30px auto;}
.services .content button a{ color:#fff; text-decoration:none; width:180px; margin:0 auto;}
.services .content .btn-primary{ background:#ec1c24; border:none; border-radius:0px;  text-transform:uppercase; font-size:14px; padding:17px 40px 17px 40px; font-size:16px;}

.services2 .fa{ font-size:80px; color:#bababa; padding-bottom:30px;}
.services2 h1{ font-size:30px; color:#bababa; text-transform:uppercase; padding-bottom:15px; font-family: 'montserratregular', sans-serif;}
.services2 .box .content{}
.services2 .box:hover h1 + fa + a{text-decoration:none; cursor:pointer; color:#000;}

/*-------------------------------------------------------
Box  Classes
---------------------------------------------------------*/
.our-services{}
.our-services .box{}
.our-services .box .thumbnail{padding:0px;  border-radius:0px; border:#eeeeee solid 1px;}
.our-services .box .thumbnail .caption{ text-align:center;}
.our-services .box .thumbnail .caption p{ font-size:13px; color:#7d7d7d;}
.our-services .box .thumbnail .caption h3{ text-transform:uppercase; color:#323232;}
.our-services .box .thumbnail .caption .btn-default{ background:#09d0b1; border:none; text-transform:uppercase; border-radius:0px; color:#fff; padding:0px 40px 0px 40px; font-family: 'open_sansregular', sans-serif; margin-bottom:-60px; line-height:40px;}


/*-------------------------------------------------------
customers  Classes
---------------------------------------------------------*/
.customers{}
.customers .title {display:block; text-align:center;}
.customers .title h1{text-transform:uppercase; font-size:35px; color:#161f29;display:block;}

.customers .title h1{
  position: relative;
  line-height:50px;
}
.customers .title h1:after {
  position: absolute;
  content: '';
  width: 7%;
  height: 1px;
  border-bottom: 8px solid #ec1c24;
  bottom: -2px;
  left: 50%;
  margin-left: -4%;
  line-height:23px;
}


.customers .carousel{ width:97%!important; float:left;}
.customers .carousel ul li{ width:230px;}
.customers .carousel-row a.prev{ font-size:35px!important; text-decoration:none; float:left; padding-top:30px;}
.customers .carousel-row a.next{ font-size:35px!important; text-decoration:none; float:left; padding-top:30px;}

.testimonials{ position:relative;}
.testimonials .title {display:block; text-align:center;}
.testimonials .title h1{text-transform:uppercase; font-size:35px; color:#161f29;display:block; text-align:center;}


.testimonials .title h1{
  position: relative;
  line-height:50px;
}
.testimonials .title h1:after {
  position: absolute;
  content: '';
  width: 7%;
  height: 1px;
  border-bottom: 5px solid #ec1c24;
  bottom: -2px;
  left: 50%;
  margin-left: -5.3%;
  line-height:23px;
}



.testimonials .title h5{text-transform:uppercase; font-size:15px; color:#161f29;display:block; text-align:center; font-weight:normal; line-height:36px;}
.testimonials #carousel{ position:absolute;}

.footer {
	position:relative;
	background:#06060b;
	font-family: 'Open Sans', sans-serif;
	color:#97a7ba;
	padding:50px 0 0 0;
}
.footer .title h1 {
	font-size:22px;
	text-transform:uppercase;
	color:#fff;
	font-family: 'montserratregular', sans-serif;
}

footer {
	background:#040408;
	position:relative;
	padding:20px 0;
	margin-top:30px;
}
footer p {
	font-size:13px;
	text-align:center;
	margin:0px;
}


.address ul {
	margin:45px 0 0 0;
	padding:0px;
}
.address ul li {
	list-style:none;
	margin-bottom:20px;
	font-size:13px;
}
.address ul li a{
	color:#09d0b1;
}
.address .fa {
	width:35px;
	float:left;
	line-height:24px;
	font-size:19px;
}
.subscribe input[type=text] {
	width:100%;
	background:#040408;
	border:1px solid #0b1c2f;
	padding:10px 15px;
	border-radius:3px;
	outline:none;
	color:#77b5fa;
}
.subscribe input[type=submit] {
	background:#09d0b1;
	border:none;
	padding:10px 25px;
	border-radius:3px;
	margin-top:10px;
	color:#fff;
}
.quicklinks {
	margin:0px;
	padding:0px;
}
.quicklinks li {
	list-style:none;
	line-height:32px;
	font-size:13px;
}
.quicklinks li a {
	color:#97a7ba;
	text-decoration:none;
}

.quicklinks li a:hover {
	color:#09d0b1;
}
.address{ }
.address .title{}
.address .title h2{ font-size:30px; padding:0px 0px 20px 0px; margin:0px; text-transform:uppercase; font-weight:normal!important;}
.address .content{ line-height:35px; font-size:16px; float:left; margin-right:30px;}
.address .contact-icon{ background:#54be52; width:150px; height:150px; border-radius:50%; float:left;}
.address .contact-icon i{ font-size:80px; color:#fff; line-height:120px; padding:20px 30px 20px 50px;}

.contactus{
	position:relative;
	padding:10px 0;
	margin-top:60px;
}



.dropdown-menu {
	right:0px;
	left:inherit;
	width:250px;
	line-height:10px;
	padding:10px;
}
.dropdown-menu form label {
	margin:0px;
	padding:0px;
	line-height:33px;
	font-weight:normal;
}
.dropdown-menu input[type=text], .dropdown-menu input[type=password] {
	width:100%;
	line-height:40px;
	padding:10px;
	height:40px;
	margin:0px;
	outline:none;
}
.btn-info {
	background-color:#09d0b1;
	border-color:#09d0b1;
	margin-bottom:15px;
	width:100%;
	line-height:30px;
}
.btn-info:hover {
	background-color:#09d0b1;
	border-color:#09d0b1;
}
.dropdown-menu:before {
	content:'';
	display:inline-block;
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	border-bottom:7px solid #54be52;
	border-bottom-color:#54be52;
	position:absolute;
	top:-7px;
	right:9px;
}
.dropdown-menu:after {
	content:'';
	display:inline-block;
	border-left:6px solid transparent;
	border-right:6px solid transparent;
	border-bottom:6px solid #ffffff;
	position:absolute;
	top:-6px;
	right:10px;
}  





/*Sliding Text and Icon Menu Style*/
.sti-menu{
	position:relative;
}
.sti-menu div{
	height:230px;
}
.sti-menu div a{
	display:block;
	overflow:hidden;
	height:100%;
	width:100%;
	position:relative;
	text-decoration:none;
}
.sti-menu div a h2{
	color:#b9b9b9;
	font-family: 'montserratregular', sans-serif;
	font-size:30px;
	font-weight: normal;
	text-transform:uppercase;
	position:absolute;
	width:100%;
	display:block;
	top:100px;
	text-align:center;
}
.sti-menu div a h3{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#b9b9b9;
	position:absolute;
	top:148px;
	left:0px;
	width:100%;
	padding:10px;
	font-weight:normal;
	line-height:20px;
	text-align:center;
}

.sti-icon{
	width:370px;
	height:100px;
	position:absolute;
	background-position:top left;
	background-repeat:no-repeat;
	background-color:transparent;
}

.sti-icon-care{
	background-image:url(../img/easy.png);
}
.sti-icon-amplifying{
	background-image:url(../img/amplifying.png);
}
.sti-icon-trusted{
	background-image:url(../img/trusted.png);
}
.sti-icon-info{
	background-image:url(../images/info.png);
}
.sti-icon-technology{
	background-image:url(../images/technology.png);
}


/*page*/

 .inner-banner { width:100%; background:url(../img/in-banner1.jpg) no-repeat; height:200px;}
 .inner-banner .page-title{ }
  .inner-banner .page-title h1{ line-height:200px; text-transform:uppercase; color:#fff;font-size:50px;text-align:center;font-family: 'montserratregular', sans-serif; }

 .about-page{ padding-top:50px;}
 .about-page .content{}
 .about-page .content 
 .about-page .content .box{}
 .about-page .content .box img{ width:100%; height:auto; border:#f1f1f1 solid 1px; padding:1px;} 
 
 
 .about-page .title h1{text-transform:uppercase; font-size:35px; color:#161f29; display: inline-block; text-align:center;}

.about-page .content .box .title h1{
  position: relative;
  line-height:50px;
  display:block!important;
}
.about-page .content .box .title h1:after {
  position: absolute;
  content: '';
  width: 7%;
  height: 1px;
  border-bottom: 6px solid #ec1c24;
  bottom: -2px;
  left: 50%;
  margin-left: -4%;
  line-height:23px;
}

.about-page .content .box .title h5{text-transform:uppercase; font-size:15px; color:#161f29;display:block; text-align:center;
 font-weight:normal; line-height:36px;}


.contact-wrapper{
background:#fff;
}
.contact-wrapper .row .page-title{
background:url(../images/bg1.jpg) repeat;
padding:30px 0px 30px 0px;
margin:0px 0px 30px 0px;
height:150px;
}

.contact-wrapper .page-title h1{ color:#fff; font-size:40px; margin:0; padding:20px 0px 10px 0px;  text-align:center;}
.contact-wrapper .page-title p{ color:#fff; text-align:center; font-size:13px;}
.contact-body{color:#444444; padding:20px 0px 50px 0px;}
.contact-body img{ background:#5171c4; padding:2px; margin:0px 10px 20px 0px;}
.contact-body .contact-form .col-xs-8 h4{ font-weight:bold; padding-bottom:15px;}
.contact-body .contact-form .input-sty{ border:#dbe0e3 solid 1px; height:35px; text-indent:5px; width:735px;}
.contact-body .contact-form .textarea-sty{ border:#e3e8eb solid 1px; height:120px; text-indent:5px; width:735px;}
.contact-body  .title{ margin:0px 0px 10px 0px;}
.contact-body  .title h1{ color:#444444; font-size:23px; text-transform:none; line-height:32px;}
.contact-body  .title span{ font-size:16px;}
.contact-body .content{}
.contact-body .content img{ margin-right:9px; border:none; background:none; float:left; margin-bottom:30px;}
.contact-body .content P{ float:left; font-size:15px;}
.contact-body .content h2{ font-size:18px;}
.contact-body .content a{ font-size:15px; color:#444444; text-decoration:none;}
.contact-body .content a:hover{ color:#86c038;}
.contact-wrapper .btn-default{ 
    background: #09d0b1 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    margin-top: 10px;
    padding: 10px 25px;}



.field-reports{
}

.field-reports .custom-thumbnail{ padding:0px; margin-bottom:30px;}
.field-reports .custom-thumbnail .head-img{ background:url(../img/bg1.jpg) no-repeat center; padding:20px;}
.field-reports .custom-thumbnail .head-img .img-circle{ 
margin:0 auto;
width:110px;
}
.field-reports .custom-thumbnail .head-img .img-circle img{
border-radius: 50% 50% 50% 50%;
width:110px!important;
height:110px!important;
}
.field-reports .custom-thumbnail .em-name{ text-align:center; color:#fff; font-family: 'montserratregular', sans-serif; padding-top:7px;}

.field-reports .custom-thumbnail .em-name a{ color:#fff; text-decoration:none; font-weight:normal; font-size:20px; }

.field-reports .custom-thumbnail .em-name a:hover{ color:#09d0b1; text-decoration:none; font-weight:normal; font-size:20px; }


.field-reports .custom-thumbnail .content{ color:#323232; font-size:15px; padding-top:30px;}
.field-reports .custom-thumbnail .content tr{ border-bottom:#e9ecf2 solid 1px;}
.field-reports .custom-thumbnail .content td{ padding:10px;font-family: 'montserratregular', sans-serif; line-height:35px;}
.field-reports .custom-thumbnail .content .glyph-item{ font-size:25px; margin-right:10px;}
.boder-b-n{ border-bottom:none!important;}
.emid{
    background: #09d0b1 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #fff;
    font-family: 'montserratregular', sans-serif;
    line-height: 40px;
    margin-bottom: -60px;
    padding: 9px 25px 9px 25px;
    text-transform: uppercase;
	border-radius:5px;
}

.cartegory{ background:#f6f7f9; padding:15px; border-radius:5px; border:#e9ecf2 solid 1px;}
.cartegory label{font-family: 'montserratregular', sans-serif; font-size:15px; font-weight:normal; text-transform:uppercase; line-height:30px;}
.multiselect{ width:270px; text-align:left;}
.caret{float:right!important; margin-top:9px;}
.cartegory .btn-sty{ background:#09d0b1; border:none; color:#fff;}
.mar-t-35{ margin-top:35px;}
.left-section{}
.report-summary{}
.report-summary .content{}
.report-summary .content .title h2{ font-size:23px; text-transform:uppercase;}
.filetypes{}
.filetypes .files{
    border-radius: 50%;
    height: 150px !important;
    width: 150px !important;
	background:#e9ecf2;
	float:left;
	text-align:center;
	margin-left:10px;
	padding:20px 10px 10px 10px;
	}
	
.filetypes .files:hover{
    border-radius: 50%;
    height: 150px !important;
    width: 150px !important;
	background:#3f51b5;
	float:left;
	text-align:center;
	margin-left:10px;
	padding:20px 10px 10px 10px;
	}
		
	
	
.filetypes .files .glyph-item{	
font-size:60px;
display:block;
}
	
.filetypes .files a{ text-decoration:none; color:#1b1b1b; font-size:16px; text-transform:uppercase;font-family: 'montserratregular', sans-serif; }
.filetypes .files a:hover{ text-decoration:none; color:#1b1b1b; color:#fff;}


/* 21c2f8  /  1bb6f7*/
